<template>

	<v-toolbar dark  max-height="160px" color='deep-orange' >
		
		<v-toolbar-title>Anuncios Junta Vecinal</v-toolbar-title>
		<spacer></spacer>
		<v-toolbar-items>
			<v-btn color="white" light>Iniciar Sesión</v-btn>
		</v-toolbar-items>
	</v-toolbar>
</template>