<template>
  <v-app >
	<v-app-bar dark flat :color="primary_color" class="mt-n12">
		<v-toolbar-title class="text-h2">{{".... "}}Anuncios Junta Vecinal 2020</v-toolbar-title>
		<v-spacer></v-spacer>
		<v-toolbar-items v-if="$store.state.auth.status.loggedIn===false">
			<v-btn elevation=0 light :color="secondary_color" to="/login" class="text-h7">Iniciar Sesión</v-btn>
		</v-toolbar-items>
		<v-toolbar-items v-else>
			<v-btn elevation=0 light :color="secondary_color" to="/create" class="text-h7">Crea tu Anuncio</v-btn>
			<v-divider vertical> </v-divider>
			<v-btn elevation=0 light :color="secondary_color"  @click="logOut()" class="text-h7">Cerrar Sesión</v-btn>
		</v-toolbar-items>
		<v-btn
                color="pink"
                dark
                absolute
                left
				disabled
                fab
              >
                <img width='160px' :src="images.logo">
              </v-btn>
	</v-app-bar>
	
	<v-container fluid >	
		<v-row dense no-gutters>
			<v-navigation-drawer light :color="secondary_color" height="832px" class="mr-2 elevation-5" >
				<v-list-item link :color="select_color" dense to="/" >
						<v-list-item-content>
							<v-list-item-title class="text-button">
								Inicio
							</v-list-item-title>
						</v-list-item-content>
					</v-list-item>
				<v-list-item link :color="select_color" dense to="/ranking" >
						<v-list-item-content>
							<v-list-item-title class="text-button">
								Ranking Usuarios
							</v-list-item-title>
						</v-list-item-content>
					</v-list-item>
				<v-divider></v-divider>
				<v-list-item>
					<v-list-item-content>
						<v-list-item-title class="text-body-1 text-md-left">
							Categorías
						</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
				<v-list dense nav>
					<v-list-item v-for="item in categories" :key="item.title" link :to="'/search/' + item.route"  >
					<v-list-item-icon>
						<v-icon>{{ item.icon }}</v-icon>
					</v-list-item-icon>
					<v-list-item-content>
						<v-list-item-title class="text-md-left">{{ item.title }}</v-list-item-title>
					</v-list-item-content>
					</v-list-item>
				</v-list>
			</v-navigation-drawer>
			<v-col class="elevation-5">
				<v-main>
				<v-fade-transition mode="out-in">
				<router-view></router-view>
				</v-fade-transition>
				</v-main>
			</v-col>
		</v-row>
	</v-container>
	<v-footer class="pa-3" :color="secondary_color" >
		<v-spacer></v-spacer>
		<v-avatar>
			<img :src="images.avatar">
		</v-avatar>
		<div>Teni que ser de Huachipato</div>
	</v-footer>
	</v-app>
</template>


<script>
export default {
	name: 'App',
	components: {

	},
	data: () => ({
	categories: [
	{ title: 'Hogar', icon: 'house' , route:"casa"},
	{ title: 'Ropa y Accesorios', icon: 'work' , route:"ropa"},
	{ title: 'Artesanía', icon: 'spa', route:"artesania"},
	{ title: 'Electrónica', icon: 'smartphone', route:"electronica" },
	{ title: 'Alimentos', icon: 'fastfood', route:"alimentos" },
	{ title: 'Productos de Aseo', icon: 'hot_tub', route:"aseo" },
	{ title: 'Servicios', icon: 'people', route:"servicios" },
	],
	images: {
		avatar: require('./assets/logo.png'),
		logo: require('./assets/logo_transparent.png')
	},
	primary_color: "orange lighten-2",
	secondary_color: "#e6e2dd",
	select_color:"orange darken-3"
  }),
  methods: {
	logOut() {
		this.$store.dispatch('auth/logout');
		this.$router.push('/login');
    }

  }
};
</script>