<template>
    <div id="app" class="mt-0">
      <v-toolbar flat dark color="orange lighten-2">
        <v-toolbar-title class="text-h4">¡Ingresa tu anuncio!</v-toolbar-title>
      </v-toolbar>
      <v-card flat>
        <v-card-subtitle>
        <v-row >
          <v-col>
            <v-text-field
            name="name"
            label="Título del Anuncio"
            light
            full-width
            rounded
            v-model="titulo"
            background-color="#e6e2dd"
            ></v-text-field>
          </v-col>
          
          <v-col cols=2>
            <v-text-field
            name="name"
            label="Precio"
            light
            full-width
            rounded
            v-model="precio"
            class="mb-6"
            background-color="#e6e2dd"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row dense class="mt-n16">
          <v-col>
            <v-text-field
            name="name"
            label="Teléfono"
            light
            full-width
            v-model="telefono"
            rounded
            background-color="#e6e2dd"
            ></v-text-field>
          </v-col>
          
          <v-col>
            <v-text-field
            name="name"
            label="Correo"
            light
            full-width
            rounded
            v-model="correo"
            class="mb-6"
            background-color="#e6e2dd"
            ></v-text-field>
          </v-col>
          <v-col >
            <v-overflow-btn
              :items="categories"
              rounded
              class="mb-6"
              item-text="title"
              item-value="route"
              background-color="#e6e2dd"
              label="Selecciona Categoría"
              v-model="category"
            ></v-overflow-btn>
          </v-col>
        </v-row>
        <v-textarea class="mt-n12" background-color="#e6e2dd" label="Descripción del anuncio" v-model="desc" full-width rounded>
        </v-textarea>
        </v-card-subtitle>
        <v-card-text>
          <v-btn color="orange lighten-2" @click="save()" dark>Ingresar Anuncio</v-btn>
        </v-card-text>
      </v-card>
    </div>
</template>
<script>
export default{
  data: () => ({
    titulo: "",
    desc: "",
    telefono: "",
    correo: "",
    precio: 0.0,
    category: "",
    loading: false,
    categories: [
    { title: 'Hogar', route:"casa"},
    { title: 'Ropa y Accesorios', route:"ropa"},
    { title: 'Artesanía', route:"artesania"},
    { title: 'Electrónica', route:"electronica" },
    { title: 'Alimentos', route:"alimentos" },
    { title: 'Productos de Aseo', route:"aseo" },
    { title: 'Servicios', route:"servicios" },
    ]
  }),

  methods: {

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    save () {
      this.$http.post('http://209.97.147.143:8083/api/anuncios/publicar', {
        'titulo': this.titulo,
        'correo':this.correo,
        'telefono': this.telefono,
        'precio': this.precio,
        'descripcion': this.desc,
        'categorias':[this.category],
        'id_usuario': this.$store.state.auth.user.id
      });
    },
  },
}
</script>
