<template>
  <div>
  <v-card>
  <v-card-title class="text-h4">Primeros anuncios</v-card-title>
  <v-carousel cycle height="400" hide-delimiter-background show-arrows-on-hover>
    <v-carousel-item v-for="(slide, i) in slides" :key="i">
      <v-sheet :color="colors[i]" height="100%">
        <v-row
          class="fill-height"
          align="center"
          justify="center"
        >
          <div class="display-3">{{ slide }} Anuncio</div>
        </v-row>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
  </v-card>
  <v-card>
    <v-card-title> ¡Revisa todos los anuncios de tu comunidad! </v-card-title> 
    <v-card-text>
    <v-row>
      <v-col v-for="i in 3" :key="i">
          <v-skeleton-loader
            type="card"
          ></v-skeleton-loader>
        </v-col>
    </v-row>
    </v-card-text>
  </v-card>
  </div>
</template>
<script>
export default{


  data: () => ({
    colors: [
          'indigo',
          'warning',
          'pink darken-2',
          'red lighten-1',
          'deep-purple accent-4',
        ],
    slides: [
      'Primer',
      'Segundo',
      'Tercer',
      'Cuarto',
      'Quinto',
    ],
    page: 1,
    search: "",
    pageCount: 0,
    itemsPerPage: 6,
    dialog: false,
    headers: [
      {
        text: 'Nombre',
        align: 'left',
        sortable: true,
        value: 'nombre',
      },
      { text: 'Rut', value: 'rut' },
      { text: 'Carrera', value: 'carrera' , sortable: false},
      { text: 'Fecha de Nacimiento', value: 'nacimiento' }
    ],
    desserts: [],
    carreras: null,
    carreras_test: [{nombre: 'Ing. Civil', id: 1}],
    editedIndex: -1,
    editedItem: {
      nombre: '',
      rut: '',
      carrera: '',
      nacimiento: new Date().toISOString().substr(0, 10),
    },
    defaultItem: {
      nombre: '',
      rut: '',
      carrera: '',
      nacimiento: new Date().toISOString().substr(0, 10),
    },
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Agregar Alumno' : 'Editar Alumno'
    },
  },

  watch: {

  },

  created () {

  },

  beforeMount () {

  },

  methods: {
  },
}
</script>
