<template>
  <div>
  <v-row justify-center>
    <v-col cols=5>
      <v-card flat >
        <v-card-title>
        Ingreso de Usuario
        </v-card-title>
        <v-card-text>
          <v-list width="100%">
            <v-list-item>
              <v-text-field
                name="name"
                label="Correo Electrónico"
                filled
                full-width
                rounded
                prepend-icon="person"
                color="orange darken-3"
                v-model="user.correo"
                :rules="emailRules"
              ></v-text-field>
            </v-list-item>
            <v-list-item>
              <v-text-field
                name="pass"
                label="Contraseña"
                filled
                full-width
                rounded
                type="password"
                prepend-icon="lock"
                color="orange darken-3"
                v-model="user.pass"
                :rules="[() => !!user.pass || 'La contraseña no debe estar vacía']"
              ></v-text-field>
            </v-list-item>
          </v-list>
          <v-btn color="orange lighten-2" :loading="loading" :disabled="loading" block @click="handleLogin()" >Iniciar Sesión</v-btn>
        </v-card-text>
        
        <v-card-actions >
          <v-spacer></v-spacer>
          <v-btn color="white text-overline" depressed>Olvidé mi contraseña</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
  </div>
</template>
<script>
import User from '../models/user'

export default{
  data: () => ({
    loading: false,
    loader: null,
    user: new User('','')
  }),

  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  created () {
    if (this.loggedIn) {
      this.$router.push('/');
    }
  },

  methods: {
    handleLogin() {
      this.loading = true;
      this.$validator.validateAll().then(isValid => {
        if (!isValid) {
          this.loading = false;
          return;
        }

        if (this.user.correo && this.user.pass) {
          this.$store.dispatch('auth/login', this.user).then(
            () => {
              this.$router.push('/');
            },
            error => {
              this.loading = false;
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        } else {
          this.loading=false;
        }
      });
    }
  }
}
</script>
