<template>
    <div id="app" class="mt-0">
      <v-toolbar flat dark color="orange lighten-2">
        <v-toolbar-title class="text-h6">Seleccionar Comuna </v-toolbar-title>
        <v-row>
          <v-col cols=4>
          <v-autocomplete @change="getMetrics()" :items="listaComunas" v-model="comunaActual" light flat hide-no-data hide-details dense label="Comuna" full-width outlined class="ml-4 black--text" background-color="white"></v-autocomplete>
          </v-col>
        </v-row>
      </v-toolbar>
      <v-card flat>
        <v-card-title v-if="comunaActual!=''">
          {{"Ranking usuarios de "+comunaActual+" según cantidad de Posts"}}
        </v-card-title>
        <v-card-text>
          <template v-for="persona in datos">
            <v-row :key="persona.nombre" align="center">
              <v-col cols=2 align="right">
                <v-chip  color="orange lighten-2">{{persona.nombre}} <v-avatar right class="white">{{persona.cantidad}}</v-avatar></v-chip>
              </v-col>
              <v-col>
                <v-progress-linear class="ml-n4" rounded height="16px" v-model="persona.cantidad"></v-progress-linear>
              </v-col>
            </v-row>
          </template>
        </v-card-text>
      </v-card>
    </div>
</template>
<script>
export default{
  data: () => ({
    comunas: "Santiago,Conchalí,Huechuraba,Independencia,Quilicura,Recoleta,Renca,Las Condes,Lo Barnechea,Providencia,Vitacura,La Reina,Macul,Ñuñoa,Peñalolén,La Florida,La Granja,El Bosque,La Cisterna,La Pintana,San Ramón,Lo Espejo,Pedro Aguirre Cerda,San Joaquín,San Miguel,Cerrillos,Estación Central,Maipú,Cerro Navia,Lo Prado,Pudahuel,Quinta Normal" ,
    listaComunas: [],
    comunaActual: "",
    loading: false,
    datos: [],
    max_value:0,
  }),
  created () {
    this.listaComunas=this.comunas.split(",").sort();
  },
  methods: {
    async getMetrics() {
      this.loading=true;
      this.datos= []
      this.$http.get('http://209.97.147.143:8083/api/anuncios/obtener-ranking?comuna='+this.comunaActual,{
        }).then(response => {
          this.loading=false;
          this.datos=response.data;
          this.max_value=0;
          var persona;
          for (persona in this.datos) {
            if (persona.cantidad>this.max_value) {
              this.max_value=persona.cantidad;
            }
          }
        });
    }
  },
}
</script>
