<template>
    <div id="app" class="mt-0">
      <v-data-table
        :headers="headers"
        :items="desserts"
        :search="search"
        :expanded.sync="expanded"
        single-expand
        sort-by="fecha"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        item-key="id"
        hide-default-footer
        show-expand
        @page-count="pageCount = $event"
        @item-selected="getComments"
      >
        <template v-slot:top>
          <v-toolbar flat dark color="orange lighten-2">
          <v-toolbar-title class="text-h4">{{category_names[$route.params.type].name}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-text-field v-model="search" label="Buscar" background-color="white" rounded filled color="orange darken-3" full-width class="ml-2 mt-7 shrink" light></v-text-field>
          </v-toolbar>
        </template>
        <template v-slot:item.titulo="{ item }" >
          <v-row dense class="text-body-2" align="center">
            <p class="font-weight-bold mt-4" align="center" >{{item.nombre}} </p> {{" | "+item.titulo}}
            <v-spacer></v-spacer>
            {{item.fecha}}
          </v-row>
        </template>
        <template v-slot:expanded-item="{ headers, item } ">
        <td :colspan="headers.length">
          <v-card >
            <v-card-title class="text-body-2">
            {{ item.descripcion }}
            </v-card-title>
            <v-card-actions>
              <v-chip color="orange lighten-2">
                <v-avatar left>
                  <v-icon>smartphone</v-icon>
                </v-avatar>
                {{item.telefono}}
              </v-chip>
              <v-chip color="orange lighten-2">
                <v-avatar left>
                  <v-icon>email</v-icon>
                </v-avatar>
                {{item.correo}}
              </v-chip>
              <v-chip color="orange lighten-2">
                <v-avatar left>
                  <v-icon>attach_money</v-icon>
                </v-avatar>
                {{item.precio}}
              </v-chip>
            </v-card-actions>
            <v-expansion-panels flat >
              <v-expansion-panel @click="loadComentaries(item.id)" flat>
                  <v-expansion-panel-header>Comentarios</v-expansion-panel-header>
                  <v-expansion-panel-content>
                  <v-card color="#e6e2dd" v-if="$store.state.auth.status.loggedIn===true">
                    <v-card-title class="text-subtitle-1" >Agrega un comentario!</v-card-title>
                    <v-card-text>
                      <v-textarea v-model="newComment" auto-grow rows=3 background-color="white" class="mt-n2" outlined
                      ></v-textarea>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn color="orange lighten-2" class="mt-n12" @click="sendComment(item.id)">
                        Enviar Comentario
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                  <template v-for="comment in comentarios">
                    <v-card :key="comment.id" color="#e6e2dd">
                      <v-card-title class="text-body-2">{{comment.usuario + " dice:"}} <v-spacer></v-spacer> {{comment.fecha}}</v-card-title>
                      <v-card-text class="text-left" >
                        <v-textarea readonly auto-grow v-model="comment.cuerpo" solo rows=1 outlined background-color="white" class="black--text">
                        </v-textarea>
                        </v-card-text>
                    </v-card>
                      
                  </template>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-card>
          </td>
        </template>
        <template v-slot:no-data>
          No hay Anuncios para esta categoría.
        </template>
      </v-data-table>
      <div class="text-center pt-2" >
        <v-pagination v-model="page" :length="pageCount" color="orange lighten-2"></v-pagination>
      </div>
    </div>
    
</template>
<script>
export default{
  data: () => ({
    page: 1,
    search: "",
    pageCount: 0,
    singleExpand: true,
    itemsPerPage: 6,
    dialog: false,
    comentarios: [],
    previousAddId: -1,
    expanded: [],
    desserts: [], 
    current: [],
    editedIndex: -1,
    newComment: '',
    editedItem: {
      nombre: '',
      rut: '',
      carrera: '',
      nacimiento: new Date().toISOString().substr(0, 10),
    },
    defaultItem: {
      nombre: '',
      rut: '',
      carrera: '',
      nacimiento: new Date().toISOString().substr(0, 10),
    },
    headers: [
        {
          text: 'Anuncios',
          align: 'left',
          sortable: false,
          value: 'titulo'
        },
        { text: '', value: 'data-table-expand' },
      ],
    category_name: 'noo',
    category_names: {
      'casa': {
        name: "Hogar y Electrodomésticos",
        url: "Casa"
      },
      'ropa': {
        name: "Ropa y Accesorios",
        url: "Ropa"
      },
      'artesania': {
        name: "Artesanía",
        url: "Artesania"
      },
      'electronica': {
        name: "Electrónica",
        url: "Electronica"
      },
      'alimentos': {
        name: "Alimentos",
        url: "Alimentos"
      },
      'aseo': {
        name: "Productos de Aseo y Limpieza",
        url: "Aseo"
      },
      'servicios': {
        name: "Servicios",
        url: "Servicios"
      },
    }
  }),

  created () {
    this.callAds()

  },
  watch:{
      $route (){
          this.callAds();
      }
  }, 
  methods: {

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    async getComments({item,value}) {
      if (value===true) {
        this.loadComentaries(item.id);
      }
    },
    async loadComentaries(id_anuncio){
      if (this.previousAddId!=id_anuncio) {
        this.comentarios=[];
        this.$http.get('http://209.97.147.143:8083/api/anuncios/comentarios?anuncio='+id_anuncio,{
        }).then(response => {
          this.comentarios=response.data;
          this.previousAddId=id_anuncio;
        });
      }
      
    },
    async sendComment (id_anuncio) {
      this.$http.post('http://209.97.147.143:8083/api/anuncios/comentar', {
        'id_usuario': this.$store.state.auth.user.id,
        'id_anuncio': id_anuncio,
        'cuerpo': this.newComment
      }).then( response => {
          if (response.data.message==="Comentario creado") {
            this.comentarios.push({usuario: this.$store.state.auth.user.nombre, cuerpo: this.newComment, fecha: "Justo ahora"})
            this.newComment='';
          }
          
        });

    },
    async loadTemp() {
      this.desserts = [
          {
            nombre: 'Vendo mi puerta',
            desc: 'se la tiene que llevar ud.',
            contacto: '+569 12345678'
          },
          {
            nombre: 'Vendo mi perro',
            desc: 'nieto como, borro,, esto??',
            contacto: '+569 12345678'
          }
        ]
    }, //
    callAds() {
      //this.desserts=null
      this.loadAds();
    },
    async loadAds() {
      this.$http.get('http://209.97.147.143:8083/api/anuncios/por_categoria?categoria='+this.category_names[this.$route.params.type].url,{
        }).then(response => {
          this.desserts=response.data;
        });
    }
  },
}
</script>
